:root { 
--black_900:#12001a; 
--white_A700_3f:#ffffff3f; 
--gray_900:#1b0f23; 
--bluegray_100_35:#d9d9d935; 
--black_901:#000000; 
--bluegray_100:#d9d9d9; 
--purple_900:#4c1564; 
--deep_purple_600:#6112be; 
--purple_A200:#c34af9; 
--bluegray_100_fd:#fd9d9d9; 
--black_900_3f:#0000003f; 
--white_A700:#ffffff; 
}